* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #2c3e50
}

#header {
    height: 100vh;
    background-image: url(Images/undraw_Brainstorming_akrv.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
}

.container {
    margin-right: 100px;
    margin-left: 100px;
}

.logo {
    margin-top: 30px;
    width: 100px;
}

.header-text {
    max-width: 350px;
    margin-top: 50px;
}

h1 {
    font-size: 2.5em;
    color: palevioletred;
}

.square {
    height: 12px;
    width: 12px;
    display: inline-block;
    background: palevioletred;
    margin: 15px 0;
}

.common-btn {
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid palevioletred;
    font-weight: bold;
    cursor: pointer;
}

.common-btn a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 15px;
    line-height: 18px;
    color: #777;
}

.header-text button {
    margin-top: 20px;
    margin-bottom: 60px;
}

.line-1 {
    width: 15px;
    height: 15px;
    background: palevioletred;
    display: inline-block;
}

.line-2 {
    width: 80px;
    height: 1px;
    background: palevioletred;
    display: inline-block;
}

.line-3 {
    width: 60px;
    height: 1px;
    background: palevioletred;
    display: inline-block;
}

.line {
    line-height: 8px;
}

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: palevioletred;
    z-index: 2;
    transition: .5s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
    font-family: 'Rubik', sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#menuBtn {
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}

/*--------about--------*/

#about,
#education {
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-left-col {
    flex-basis: 50%;
}

.about-left-col img {
    width: 100%;
}

.about-right-col {
    flex-basis: 50%;
    text-align: right;
}

.about-text {
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}

.quotation {
    font-size: 24px;
    font-style: italic;
    quotes: "\201C""\201D""\2018""\2019";
    padding: 10px 20px;
    line-height: 1.4;
}

.quotation:before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -10px;
    position: relative;
    top: 30px;
    color: #ccc;
    font-size: 3em;
}

.quotation::after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 10px;
    position: relative;
    top: 35px;
    color: #ccc;
    font-size: 3em;
}

#skills {
    padding-top: 50px;
    padding-bottom: 50px;
}

.skill-row {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill-col {
    flex-basis: 25%;
    text-align: center;
}

.skill-col img {
    width: 100px;
}

.skill-col h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}

.skill-btn {
    margin: 80px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.skill-btn .line {
    text-align: right;
    display: inline-block;
    margin-right: 25px;
}

#skills h1 {
    text-align: center;
    margin-bottom: 30px;
}

/*----projects---*/

#projects {
    padding: 100px 0;
}

.project-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.project-right-col {
    flex-basis: 50%;
}

.project-right-col img {
    width: 100%;
}

.project-left-col {
    flex-basis: 50%;
}

.project-text {
    max-width: 350px;
}

.project-text button {
    margin: 30px 0;
}

.box ul li {
    list-style: none;
    line-height: 1.0;
}

.box {
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    color: #333;
    margin-top: 5vh;
    margin-bottom: 5vh;
    overflow-y: auto;
    background: transparent;
    box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
        -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
    border-radius: 40px;
    padding: 4px 30px 20px;
}

/*----Contact----*/
.contact-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contact-left-call,
.contact-right-call {
    flex-basis: 50%;
}

.contact-right-call img {
    width: 100%;
}


.social-media {
    margin: 10px 0;
    display: flex;
    line-height: -1.0;
}

.social-media p {
    padding: 12px 10px;
    margin-bottom: 5px;
}

.social-media a {
    text-decoration: none;
}

.social-media img {
    display: block;
    width: 50px;
    cursor: pointer;
}

/*----Footer----*/
#footer {
    padding: 50px 0 30px;
}

hr {
    width: 100%;
    border: 0;
    border-top: 1px solid #fbc531;
}


#footer h2 {
    text-align: center;
    color: #1e272e;
    font-family: 'Niconne', cursive;
    font-weight: 700;
}

#footer h2 span {
    color: #EA2027;
}


@media only screen and (max-width: 770px) {
    #header {
        background-image: none;
    }

    .container {
        margin-right: 50px;
        margin-left: 50px;
    }

    .logo {
        margin-top: 27px;
        width: 70px;
    }

    .header-text {
        margin-top: 100px;
    }

    h1 {
        font-size: 25px;
        color: #d35400;
    }

    .menuBtn {
        width: 40px;
        right: 50px;

    }

    .common-btn {
        padding: 10px 16px;
    }

    .social-media img {
        width: 25px;
        margin: 15px auto;
    }

    .about-left-col,
    .about-right-col {
        flex-basis: 100%;
    }

    .about-text {
        margin: 50px 50px 0;
        display: inline-block;
    }

    .quotation {
        font-size: 14px;
        font-style: italic;
        quotes: "\201C""\201D""\2018""\2019";
        padding: 10px 20px;
        line-height: 1.4;
    }

    .quotation:before {
        content: open-quote;
        display: inline;
        height: 0;
        line-height: 0;
        left: -10px;
        position: relative;
        top: 10px;
        color: #ccc;
        font-size: 3em;
    }

    .quotation::after {
        content: close-quote;
        display: inline;
        height: 0;
        line-height: 0;
        left: 10px;
        position: relative;
        top: 20px;
        color: #ccc;
        font-size: 3em;
    }

    .skill-col {
        flex-basis: 50%;
        margin-bottom: 20px;
    }

    .project-left-col {
        flex-basis: 100%;
    }

    .project-right-col {
        flex-basis: 100%;
        margin-top: 70px;
    }

    .box {
        width: 50%;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
        color: #333;
        margin-top: 5vh;
        margin-bottom: 5vh;
        overflow-y: auto;
        background: transparent;
        box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
            -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
        border-radius: 40px;
        padding: 4px 30px 20px;
    }

    .contact-left-call,
    .contact-right-call {
        flex-basis: 100%;
    }

    .contact-right-call {
        margin-top: 50px;
    }

    .social-media img {
        display: inline-flex;
    }

    #footer h2 {
        text-align: center;
        color: #1e272e;
        font-family: 'Niconne', cursive;
        font-weight: 700;
        font-size: 24px;
    }

}